.movie-details-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 8px;
}

.movie-poster {
  width: 200px;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
}

.cast-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.cast-list-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.actor-image {
  width: 70px;
  height: auto;
  border-radius: 10%;
  margin-right: 10px;
}