.castList {
    list-style: none;
    padding: 0;
}

.castItem {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.actorImage {
    width: 100px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 20px;
}

.actorInfo {
    flex-grow: 1;
}

.actorInfo p {
    margin: 0;
}

.actorInfo p:first-child {
    font-weight: bold;
}