.castList {
    list-style: none;
    padding: 0;
}

.castItem {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.actorImage {
    width: 100px;
    /* Розмір зображення актора */
    height: auto;
    /* Розмір зображення актора */
    margin-right: 10px;
}